html, body {
    background-color: #F7F7F6;
}
h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
#popup-page {
    width: 360px;
}
#popup-page nav ul {
    margin: 0;
    padding: 0;
}
#popup-page nav li {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: blue;
    text-decoration: underline;
}
#popup-page nav li:hover {
    cursor: pointer;
}
#popup-page h2 {
    font-size: 18px;
    margin: 3px 0 4px 0;
    padding: 0;
}
#popup-page article ul {
    margin: 0 0 0 0;
    padding: 0;
}
#popup-page article li {
    font-size: 11px;
    margin: 0 0 4px 0;
    padding: 8px 0;
    line-height: 1.4;
    cursor: pointer;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
#popup-page article li:hover {
    background-color: #fefecc;
}
#popup-page article li > img {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
#popup-page article li img.feeling {
    width: 12px;
    height: 11px;
    padding: 4px;
}
#popup-page article li div {
    margin-left: 36px;
    min-height: 36px;
}
#popup-page article li span.screen_name {
    margin-left: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #1E57FF;
}
#popup-page article li span.action {
    color: #333333;
    margin-bottom: 4px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;

}
#popup-page article li span.action.close-task {
    background-color: #0064CD;
}
#popup-page article li span.action.fix-task {
    background-color: #468847;
}
#popup-page article li span.action.reopen-task {
    background-color: #B94A48;
}
#popup-page article li span.list {
    color: #3A87AD;
}
#popup-page article li span.task {
    /*font-weight: bold;*/
    font-size: 12px;
}
#popup-page article li span.date {
    color: gray;
    font-size: 10px;
}
#popup-page article li span.message {
/*    font-size: 12px;
    line-height: 16px;
*/    word-wrap: break-word;
}
#digest {
    display: none;
    position: absolute;
    left: 40px;
    padding: 6px;
    border: 1px solid gray;
    background: white;
    color: gray;
    font-size: 12px;
    z-index: 9999;
}
#digest-title {
    color: black;
    font-weight: bold;
}

#option-page {
    margin: 20px;
}
#option-page h1 {
    margin-bottom: 10px;
    font-size: 16px;
}
#option-page h2 {
    margin-bottom: 10px;
    font-size: 14px;
}
#option-page li {
    font-size: 14px;
}
#option-page button {
    margin-top: 10px;
}
#notification-auto-close {
    width: 3em;
}
#msg {
    display: none;
    padding: 4px;
    color: #009900;
    background-color: #e0ffe0;
}