Makefile
inc/
MANIFEST
*.bak
*.old
*.key
*.secret
*.crt
.carton
MYMETA.*
pm_to_blib
native
nytprof.out
nytprof/
development.db
test.db
.DS_Store
websocket.psgi
mat
src.zip
src.pem
src-ld*
*-ld.sh
blib
app.pid
htdocs/static/viewer
design
.dropbox
7kai-tasks-checker-for-clone
script/ope
script/dev
sandbox
MEMO.md