/*****************************************************
1. icon
2. parts
3. redefine
*****************************************************/

/********** icon **********/
.icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
span.icon {
    display: inline-block;
}
.icon-tasks {
    background-image: url(/static/img/tasks.png);
}
.icon-tasks-half {
    background-image: url(/static/img/tasks_half.png);
}
.icon-tasks-off {
    background-image: url(/static/img/tasks_off.png);
}
.icon-grip {
    background-image: url(/static/img/grip.png);
}
.icon-keyboard {
    background-image: url(/static/img/keyboard.png);
}
.icon-gray {
    opacity: 0.5;
}
.label.closed {
    background-color: #0064cd;
}
.tooltip {
    opacity: 1;
}

/********** parts **********/
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display:table;
    content:"";
}
.clearfix:after {
    clear:both;
}
.sq16 {
    width: 16px;
    height: 16px;
}
.sq24 {
    width: 24px;
    height: 24px;
}
.sq32 {
    width: 32px;
    height: 32px;
}
.left {
    float: left;
}
.salvage {
    background-color: #ffe0e0;
}

/********** redefine **********/
form {
    padding: 0 !important;
}
.modal {
    display: none;
}
.row {
    margin-left: 0;
}

/********** register-task-window **********/
#register-task-window ul li {
    margin-bottom: 4px;
}
#register-task-window ul li > label > div {
    float: left;
}
#register-task-window ul li > label > div.icon {
    padding-left: 4px;
}
#register-task-window ul li > label > div.name {
    padding-left: 4px;
}
