/********** parts **********/
div.alert {
    display: none;
    position: absolute;
    width: 360px;
    bottom: 0px;
    right: 20px;
}

/********** redefine **********/
html, body {
    overflow: hidden;
    background-color: #F7F7F6;
}
a, button, label {
    cursor: pointer;
}
h4, h5 {
    line-height: 1;
    margin-bottom: 6px;
}

/********** layout **********/
.focused {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 1.2);
}

/********** topbar **********/
body > .topbar ul li a.profile-name .profile-icon {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 20px;
    height: 20px;
}
body > .topbar ul li a.profile-name {
    display: block;
    padding-left: 42px;
}

/********** row, columns **********/
body > .row {
    width: 1060px;
    margin: 60px auto 0 auto;
}
body > .row > .columns {
    position: relative;
    background-color: #eeeeee;
}
body > .row > .columns:first-child {
    margin-left: 0;
}
body > .row > .columns .topbar {
    position: relative;
    z-index: 1;
}
body > .row > .columns .topbar .container {
    width: auto;
}
body > .row > .columns > .container {
    padding: 10px;
    width: auto;
}
body > .row > .columns > .container > h2 {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 14px;
}
body > .row > .columns > .container > ul,
body > .row > .columns > .container > dl {
    margin-bottom: 8px;
}
body > .row > .columns > .container ul.members li {
    padding: 2px 0;
}
body > .row > .columns > .container ul.members li img {
    padding-right: 6px;
    vertical-align: middle;
}

/********** leftColumn **********/
.leftColumn a.active {
    color: #0050A3;
    text-decoration: underline !important;
}

/********** centerColumn **********/
ul.tasks li {
    margin-bottom: 0;
    padding: 4px;
    cursor: pointer;
}
ul.tasks li.closed {
    background-color: #CCC;
}
ul.tasks li:hover {
    background-color: #fefecc;
}
ul.tasks li.selected {
    background-color: #fefecc;
}
ul.tasks li.closed.selected {
    background-color: #E0E0B1;
}
ul.tasks li.salvage {
    background-color: #ffe0e0;
}
ul.tasks li div {
    float: left;
}
ul.tasks li > div.icon {
    margin-right: 2px;
}
ul.tasks li > div.delete {
    margin-right: 0;
}
ul.tasks li div.human {
    height: 16px;
}
ul.tasks li div.human span {
    display: inline-block;
}
ul.tasks li div.name {
    margin-left: 4px;
    color: #666;
    word-wrap: break-word;
}
ul.tasks li div.due {
    float: right;
    margin-right: 4px;
}
ul.tasks li div.delete {
    float: right;
}
ul.tasks li div.recent-comment {
    position: relative;
    clear: both;
    margin-left: 48px;
    font-size: 11px;
    color: gray;
}
ul.tasks li div.recent-comment .icon {
    position: absolute;
}
ul.tasks li div.recent-comment .message {
    margin-left: 20px;
}

/********** rightColumn **********/
ul.comments {
    overflow-y: auto;
    padding-right: 10px;
}
ul.comments li {
    margin-bottom: 4px;
    min-height: 34px;
}
ul.comments li:last-child {
    margin-bottom: 0;
}
ul.comments li .icon-cross {
    cursor: pointer;
}
ul.comments li .message {
    color: #333;
    font-size: 12px;
    line-height: 12px;
    word-wrap: break-word;

    margin-top: 2px;
    margin-right: 8px;
    padding: 4px 4px 4px 4px;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ul.comments li .footer {
    margin-top: 2px;
    line-height: 10px;
    font-size: 10px;
}
ul.comments li span.name {
    display: inline-block;
    padding-left: 4px;
    color: #333;
}

.timeline > ul {
    margin: 10px;
}
.timeline > ul li {
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}
.timeline > ul li:hover {
    background-color: #fefecc;
}

/********** window **********/
#register-list-window .member {
    display: none;
}
#register-list-window ul.members li {
    margin-bottom: 0;
    padding: 4px 4px 2px 4px;
    cursor: pointer;
}
#register-list-window ul.members li:hover {
    background-color: #fefed6;
}
#register-list-window ul.members li div {
    float: left;
}
#register-list-window ul.members li div.name {
    float: left;
    padding-left: 4px;
}
#register-list-window ul.members li div.icon-cross {
    float: right;
}
#register-list-window .description {
    width: 220px;
    height: 210px;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid gray;
}

/********** ganttchart **********/
.ganttchart {
    position: absolute;
    left: 236px;
    top: 0;
    background-color: white;
}
.ganttchart .month {
    float: left;
}
.ganttchart h1 {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    border-left: 1px solid #999999;
}
.ganttchart .days {
    
}
.ganttchart .day {
    float: left;
    border-left: 1px solid #dddddd;
    height: 1200px;
    background-color: white;
}
.ganttchart .holiday {
    background-color: #efefef;
}
.ganttchart .firstday {
    border-left: 1px solid #999999;
}
.ganttchart .today {
    background-color: rgba(252,252,215,0.8);
}
.ganttchart .day h2 {
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    color: #999999;
    font-family: arial;
    margin: 0;
    padding: 2px 0;
    width: 22px;
    text-align: center;
    background-color: #dddddd;
}
.ganttchart .holiday h2 {
    background-color: #eeeeee;
}
.gantttasks {
    position: absolute;
    top: 40px;
    width: 1060px;
    overflow-y: auto;
}
.gantttasks ul {
    top: 0;
}
.gantttasks li {
    position: relative;
    margin-left: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}
.gantttasks li:hover {
    background-color: rgba(252,252,215,0.6);
}
.gantttasks li.selected {
    background-color: rgba(252,252,215,0.8);
}
.gantttasks li > div.name {
    max-width: 180px;
    word-wrap: break-word;
}
.gantttasks li > div.humanContainer {
    position: absolute;
    left: 230px;
    width: 780px;
}
.gantttasks li div.due {
    position: absolute;
    top: 1px;
    float: left;
    cursor: pointer;
}
.gantttasks li > .left {
    margin-left: 2px;
}


/********** scrollbar **********/
ul::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding: 18px;
    -webkit-border-radius: 1ex
}
ul::-webkit-scrollbar-thumb {
    background-color: rgba(053,057,071,0.3);
    padding: 8px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 1ex;
}
ul::-webkit-scrollbar-button:start:decrement,
ul::-webkit-scrollbar-button:end:increment {
    display: none;
    /*height: 10px;*/
}
ul::-webkit-scrollbar-thumb:vertical,
ul::-webkit-scrollbar-thumb:horizontal {
    height: 3px;
    width: 3px;
    margin: 3px;
}
