.clearfix{zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.sq16 {
    width: 16px;
    height: 16px;
}
.sq24 {
    width: 24px;
    height: 24px;
}
.sq32 {
    width: 32px;
    height: 32px;
}
a {
    cursor: pointer;
}
a.icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-bottom: -4px;
}
.icon-create-task {
    background-image: url(/static/img/create-task.png);
}

.container {
    width: 100%;
}

/********** layout **********/
body > .topbar ul li a.profile-name .profile-icon {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 20px;
    height: 20px;
}
body > .topbar ul li a.profile-name {
    display: block;
    padding-left: 42px;
}

/********** layout **********/
body > div.container {
    margin-top: 40px;
    margin-bottom: 40px;
}
ul.tasks li {
    margin-bottom: 0;
    padding: 4px;
    cursor: pointer;
}
ul.tasks li.closed {
    background-color: #CCC;
}
ul.tasks li:hover {
    background-color: #fefecc;
}
ul.tasks li.selected {
    background-color: #fefecc;
}
ul.tasks li.closed.selected {
    background-color: #E0E0B1;
}
ul.tasks li div {
    float: left;
}
ul.tasks li div.human {
    height: 16px;
}
ul.tasks li div.human span {
    display: inline-block;
}
ul.tasks li div.name {
    margin-left: 4px;
    color: #666;
    word-wrap: break-word;
}
ul.tasks li div.due {
    float: right;
    margin-right: 4px;
}
ul.tasks li div.delete {
    float: right;
}
ul.tasks li div.recent-comment {
    position: relative;
    clear: both;
    margin-left: 48px;
    font-size: 11px;
    color: gray;
}
ul.tasks li div.recent-comment .icon {
    position: absolute;
}
ul.tasks li div.recent-comment .message {
    margin-left: 20px;
}
ul.comments {
    overflow-y: auto;
    padding-right: 10px;
}
ul.comments li {
    margin-bottom: 4px;
}
ul.comments li:last-child {
    margin-bottom: 0;
}
ul.comments li .icon-cross {
    cursor: pointer;
}
ul.comments li span.message {
    color: #333;
    font-size: 11px;
    word-wrap: break-word;
}
ul.comments li span.name {
    display: inline-block;
    padding-left: 4px;
    color: #333;
    font-size: 10px;
}
ul.comments li .date {
    font-size: 10px;
}
/********** layout **********/
.bottombar {
    top: auto;
    bottom: 0;
}
.bottombar ul.nav {
    width: 100%;
}
.bottombar ul.nav li {
    text-align: center;
}