.row {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.columns {
    float: left;
}
.modal {
    display: none;
}
html, body {
    overflow: auto;
    background-color: #F7F7F6;
}
h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 10px;
}
dl dt {
    font-size: 20px;
    line-height: 36px;
}
dl dd {
    font-size: 18px;
    line-height: 24px;
}
footer a {
    display: inline-block;
    margin-right: 6px;
}