header {
    border-top: 5px solid black;
    background: url(/static/img/header-en.gif) no-repeat center 83px;
    margin-bottom: 60px;
    text-align: center;
}
header p {
    padding-top: 48px;
    font-size: 24px;
}
header h1 {
    padding-top: 162px;
    margin-bottom: 84px;
    font-size: 24px;
    font-weight: 200;
    opacity: 0;
    text-shadow: 0px 1px 0px gray;
    letter-spacing: 0.05em;
}
header nav img {
   -moz-transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}
header nav img:hover {
   opacity: 0.8;
   -moz-opacity: 0.8; /* Firefox */
   filter: alpha(opacity=80); /* IE6/7 */
   -ms-filter: "alpha(opacity=80)"; /* IE8 */
}
header .container {
    margin-top: 40px;
    opacity: 0;
}
article {
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}
article > ul {
    border-top: 2px solid black;
}
article > ul > li {
    background: url(/static/img/list-mark.png) no-repeat 6px 10px;
    border-bottom: 1px solid #C6C6C6;
    overflow: hidden;
}
article > ul > li > div > span {
    font-size: 18px;
}
article > ul > li:hover {
	background-color: #f7f7f7;
}

article > ul > li > div {
    padding: 0 0 16px 50px;
}
article > ul > li > div:first-child {
    padding-top: 16px;
}
article > ul > li > div:first-child a {
    float: right;
    padding-right: 10px;
}
article > ul > li div.row h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
th {
    width: 40%;
}
a, button, label {
    cursor: pointer;
}
footer {
    border-top:3px solid #000000;
    margin-top: 40px;
    padding: 20px;
    background-color: #F7F7F6;
}
footer a {
    display: inline-block;
    margin-right: 6px;
}

.table {
    margin-bottom: 0;
}
.modal {
    display: none;
}
.thumbnail{
	background:#FFF;
}

.thumbnail p {
    padding: 10px 10px 0 10px;
    line-height: 14px;
}
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display:table;
    content:"";
}
.clearfix:after {
    clear:both;
}