<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks for Developers</title>
<link rel="stylesheet" href="/static/css/bootstrap-2.2.2.min.css">
<style type="text/css">
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
h1 {
  font-size: 20px;
  line-height: 20px;
}
.sidebar-nav {
  padding: 9px 0;
}
form .form-required {
  color: #F00;
  font-weight: bold;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
</style>
<link rel="stylesheet" href="/static/css/bootstrap-responsive-2.2.2.min.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">7kai Tasks</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Signed in as [% c().sign_name %]
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span9">
      <form action="authorize" method="post">
        <input type="hidden" name="oauth_token" value="[% oauth_token %]">
        <h1>Authorize [% app.name %] to use your account?</h1>
        <p>This application will be able to:</p>
        <ul>
          <li>Full Control</li>
          <li>List create / modify / delete</li>
          <li>Task create / modify / delete</li>
          <li>Comment create / delete</li>
        </ul>
        [% IF callback_url %]
        <p>承認すると以下のURLにリダイレクトされます。</p>
        <p>[% callback_url %]</p>
        [% END %]
        <button class="btn btn-primary">Authorized app</button>
        <input class="btn" type="submit" name="cancel" value="Cancel">
      </form>
    </div>
    <div class="span3">
      <p><strong>[% app.name %]</strong></p>
      <p>[% app.description %]</p>
      <p><a href="[% app.website %]" target="_blank">[% app.website %]</a></p>
    </div>
  </div>
</div>
</body>
</html>