<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script>
if (navigator.userAgent.indexOf('Win') != -1) {
    document.write('<link rel="stylesheet" type="text/css" href="/static/css/win.css" media="all">')
}
</script>
<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/signin.css" media="all">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/core.js"></script>
<script type="text/javascript" src="/static/js/app-base.js"></script>
<script type="text/javascript" src="/static/js/app-constants.js"></script>
<script type="text/javascript" src="/static/js/app-page-[% page %].js"></script>
</head>
<body>
<header>
<h1>7kai Tasks</h1>
<h2
    data-init="localize"
    data-text-ja="ソーシャルタスク管理サービス"
>Social Task Management Tool.</h2>
</header>
<article>
[% content %]
</article>
</body>
</html>