<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks for Developers</title>
<link rel="stylesheet" href="/static/css/bootstrap-2.2.2.min.css">
<style type="text/css">
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.form-required {
  color: #F00;
  font-weight: bold;
}
@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
</style>
<link rel="stylesheet" href="/static/css/bootstrap-responsive-2.2.2.min.css">
<script src="/static/js/jquery-1.9.0.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/developer/apps/">Developers</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          Logged in as [% c().sign_name %]
        </p>
        <ul class="nav">
          <li[% IF c().req.path.search('/apps/') %] class="active"[% END %]><a href="/developer/apps/">Apps</a></li>
          <li[% IF c().req.path.search('/docs/') %] class="active"[% END %]><a href="/developer/docs/api">API</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  [% content %]
</div>
</body>
</html>