<!DOCTYPE html>
<html lang="[% lang(c) %]">
<head>
<meta charset="utf-8">
<title>7kai Tasks</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script>
if (navigator.userAgent.indexOf('Win') != -1) {
    document.write('<link rel="stylesheet" type="text/css" href="/static/css/win.css" media="all">')
}
</script>
<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/signin.css" media="all">
</head>
<body>
<header>
<h1>7kai Tasks</h1>
<h2 data-text-ja="ソーシャルタスク管理サービス">Social Task Management Tool.</h2>
</header>
<article>
[% content %]
</article>
</body>
</html>