<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/smoothness/jquery-ui.css" media="all">
<link rel="stylesheet" href="/static/css/bootstrap-1.2.0.min.css">
<link rel="stylesheet" href="/static/css/app.css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.js"></script>
<script src="/static/js/jquery.autogrow-textarea.js"></script>
<script src="/static/js/h5utils.js"></script>
<script src="/static/js/core.js"></script>
<script src="/static/js/app-base.js"></script>
<script src="/static/js/app-constants.js"></script>
<script src="/static/js/app-page-viewer.js"></script>
</head>
<body>
<div class="topbar" data-setup="topBar">
  <div class="fill">
    <div class="container">
      <h3><a href="/">7kai Tasks</a></h3>
      <ul>
        <li>
          <a
            href="/"
            data-setup="click,shortcut,filterTask"
            data-click="filterTask"
            data-shortcut-code="84"
            data-filter-condition='{"todo":1}'
          >
            <span
              data-setup="localize"
              data-text-ja="今日迄"
            >Todo</span>
            (<span
              data-setup="taskCounter"
              data-counter-condition='{"todo":1}'
            >0</span>)
          </a>
        </li>
        <li class="active">
          <a
            href="/"
            data-setup="click,shortcut,filterTask"
            data-click="filterTask"
            data-shortcut-code="86"
            data-filter-condition='{"verify":1}'
          >
            <span
              data-setup="localize"
              data-text-ja="確認待ち"
            >Verify</span>
            (<span
              data-setup="taskCounter"
              data-counter-condition='{"verify":1}'
            >0</span>)
          </a>
        </li>
        <li class="">
          <a
            href="/"
            data-setup="click,shortcut,filterTask"
            data-click="filterTask"
            data-shortcut-code="82"
            data-filter-condition='{"request":1}'
          >
            <span
              data-setup="localize"
              data-text-ja="依頼中"
            >Request</span>
            (<span
              data-setup="taskCounter"
              data-counter-condition='{"request":1}'
            >0</span>)
          </a>
        </li>
        <li class="">
          <a
            href="/"
            data-setup="click,shortcut,filterTask"
            data-click="filterTask"
            data-shortcut-code="83"
            data-filter-condition='{"watch":1}'
          >
            <span
              data-setup="localize"
              data-text-ja="スター"
            >Star</span>
            (<span
              data-setup="starCounter"
            >0</span>)
          </a>
        </li>
      </ul>
      <ul class="nav secondary-nav">
        <!-- <li class="">
          <a
            href="/"
            data-setup="localize,filterTask"
          >
            <span
              data-setup="localize"
              data-text-ja="お知らせ"
            >Notification</span>
            (<span
              data-setup="notificationCounter"
            >0</span>)
          </a>
        </li> -->
        <li
          class="menu"
          data-setup="menu"
        >
          <a href="#" class="menu profile-name"><img class="profile-icon" src="[% sign.icon == 'email' ? '/static/img/email24_off.png' : sign.icon %]">[% sign.name %]</a>
          <ul class="menu-dropdown" style="display: none; ">
            <li>
              <a
                data-setup="click"
                data-click="addTwitter"
              >+ Add Twitter</a>
            </li>
            <li>
              <a
                data-setup="click"
                data-click="addFacebook"
              >+ Add Facebook</a>
            </li>
            <li>
              <a
                data-setup="click"
                data-click="show"
                data-show-id="help-window"
              >Help</a>
            </li>
            <li class="divider"></li>
            <li><a href="/signout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div
    class="span4 columns leftColumn"
    data-setup="stretch,leftColumn"
  >
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li class="menu" data-setup="menu">
              <a class="menu list-name">su_aska</a>
              <ul
                class="menu-dropdown lists"
                style="display: none;"
                data-setup="sortable"
                data-sortable-update="sortable.list"
              >
                <li class="nosortable divider"></li>
                <li class="nosortable"><a
                  data-setup="localize,click"
                  data-text-ja="新しいリスト"
                  data-click="createList"
                >New List</a></li>
              </ul>
            </li>
          </ul>
          <div
            id="create-list-twipsy"
            class="twipsy below"
            style="display: none; top: 44px; left: 10x;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"up"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">New List!</div>
          </div>
          <div
            id="update-list-twipsy"
            class="twipsy below"
            style="display: none; top: 44px; left: 10x;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"up"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">Update List!</div>
          </div>
          <div
            id="delete-list-twipsy"
            class="twipsy below"
            style="display: none; top: 44px; left: 10x;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"up"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">Delete List!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Members</h2>
        <ul class="unstyled members">
        </ul>
      <h2>Settings</h2>
        <ul class="unstyled">
          <li>
            <label style="float: none;">
              <input type="checkbox" name="mute" value="1">
              <span
                data-setup="localize"
                data-text-ja="ミュート"
              >Mute</span>
            </label>
          </li>
        </ul>
      <h2>Menu</h2>
      <ul class="unstyled">
        <li><a class="action"
            data-setup="localize,click"
            data-click="createList"
            data-text-ja="リストを作成..."
        >New List...</a></li>
        <li><a class="action"
            data-setup="localize,click"
            data-click="editList"
            data-text-ja="リストを編集..."
        >Edit List...</a></li>
        <li><a class="action"
            data-setup="localize,switchClosed"
            data-text-ja="完了済のタスクを表示切替"
        >Toggle Show closed Task</a></li>
        <li><a class="action"
            data-setup="localize,click"
            data-click="show"
            data-show-id="clear-list-window"
            data-text-ja="完了済のタスクを削除"
        >Clear Closed Task</a></li>
        <li><hr></li>
        <li><a
            class="action"
            data-setup="localize,click"
            data-click="show"
            data-show-id="delete-list-window"
            data-text-ja="リストを削除"
        >Delete List</a></li>
      </ul>
    </div>
  </div>
  <div
    class="span8 columns"
    data-setup="stretch,centerColumn"
  >
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li><a
              data-setup="localize"
              data-text-ja="タスク一覧"
            >Tasks</a></li>
          </ul>
          <div
            id="welcome"
            class="popover below"
            style="display: none; top: 50px; left: 70px;"
            data-show-effect="fade"
            data-hide-effect="fade"
          >
            <div class="arrow"></div>
            <div class="inner">
              <h3
                class="title"
                style="border-radius: 3px 3px 3px 3px;"
                data-setup="localize"
                data-text-ja="新しいタスクを登録しよう!!"
              >Register New Task!!</h3>
            </div>
          </div>
          <ul class="nav secondary-nav">
            <li><a
              class="icon-with icon-create-task"
              style="padding-left: 36px; background-position: 12px 50%;"
              data-setup="localize,click,shortcut"
              data-shortcut-code="67"
              data-click="createTask,hide"
              data-hide-id="welcome"
              data-text-ja="新しいタスク"
            >New Task</a>
            </li>
            <li><a
              data-setup="localize,click"
              data-click="editTask"
              data-text-ja="タスクを編集"
            >Edit Task</a></li>
            <li class="menu" data-setup="menu">
              <a
                class="menu"
                data-setup="localize"
                data-text-ja="並び替え"
              >Sort</a>
              <ul class="menu-dropdown" style="display: none; ">
                <li>
                  <a
                    data-setup="localize,click"
                    data-click="sortTask"
                    data-sort-column="name"
                    data-text-ja="タイトル"
                  >Title</a>
                </li>
                <li>
                  <a
                    data-setup="localize,click"
                    data-click="sortTask"
                    data-sort-column="updated_on"
                    data-sort-reverse="true"
                    data-text-ja="更新日時"
                  >Updated</a>
                </li>
                <li>
                  <a
                    data-setup="localize,click"
                    data-click="sortTask"
                    data-sort-column="due_epoch"
                    data-sort-reverse="true"
                    data-text-ja="期日"
                  >Due</a>
                </li>
                <li>
                  <a
                    data-setup="localize,click"
                    data-click="sortTask"
                    data-sort-column="person"
                    data-text-ja="キーパーソン"
                  >Person</a>
                </li>
              </ul>
            </li>
          </ul>
          <div
            id="create-task-twipsy"
            class="twipsy left"
            style="display: none; top: 40px; left: -84px;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"right"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">New Task!</div>
          </div>
        </div>
      </div>
    </div>
    <ul class="unstyled tasks">
      <li class="clearfix" draggable="true">
        <div class="icon icon-grip"></div>
        <div class="icon icon-tasks-off"></div>
        <div class="icon icon-star-off"></div>
        <div class="human"></div>
        <div class="name">アイコン作成</div>
        <div class="icon icon-cross delete"></div>
        <div class="due">8/23</div>
        <div class="recent-comment">
          <div class="icon"></div>
          <div class="message">{<span>&nbsp;&lt;&nbsp;◯◯◯◯◯◯◯◯◯◯◯</span></div>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="span6 columns"
    data-setup="stretch,rightColumn"
  >
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li>
              <a
                data-setup="localize"
                data-text-ja="コメント＆履歴"
              >Comments &amp; History</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>[<span class="list_name">-</span>] <span class="task_name">-</span></h2>
      <form
        class="form-stacked"
        style="margin-bottom: 10px;"
        data-setup="submit"
        data-submit="registerComment"
      >
        <input type="hidden" name="list_id" value="">
        <input type="hidden" name="task_id" value="">
        <input type="hidden" name="registrant" value="">
        <label
          data-setup="localize"
          data-text-ja="コメントを添える"
        >Comment on this task</label>
        <textarea
          name="message"
          style="width: 310px; height: 56px; margin-bottom: 6px;" required></textarea>
        <div class="">
          <button
            class="btn primary"
            data-setup="localize"
            data-text-ja="コメント"
          >Comment</button>
        </div>
      </form>
      <ul
        class="unstyled comments"
        data-setup="stretch"
        data-stretch-padding="10"
      >
        <li class="clearfix" style="position: relative;">
          <div class="icon sq32" style="position: absolute;"></div>
          <div class="icon icon-cross" style="position: absolute; right: -10px;"></div>
          <div class="" style="margin-left: 40px;">
            <div><span class="message"></span></div>
            <div><span class="date"></span><span class="name"></span></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<form
  id="register-list-window"
  class="modal form-stacked"
  data-setup="ui,submit,registerListWindow,escclose"
  data-ui="draggable"
  data-submit="registerList"
  data-show-effect="fade"
  data-show-speed="fast"
  data-show-callback="dom.autofocus"
  data-hide-effect="fade"
  data-hide-speed="fast"
  data-hide-callback="dom.blur"
>
  <div class="modal-header">
    <h3
      data-setup="localize"
      data-text-ja="リスト登録"
    >Register List</h3>
    <a
      class="close"
      data-setup="click"
      data-click="hide"
      data-hide-id="register-list-window"
    >×</a>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="left">
        <input type="hidden" name="list_id" value="">
        <input type="hidden" name="users" value="">
        <div class="clearfix">
          <label for=""
            data-setup="localize"
            data-text-ja="リスト名 (1-20文字)"
          >Name (1-20 characters)</label>
          <div class="input">
            <input type="text" name="name" value="" required maxlength="20" data-autofocus="true">
          </div>
        </div>
        <div class="clearfix owner-field">
          <label for=""
            data-setup="localize"
            data-text-ja="オーナー"
          >Owner</label>
          <div class="input owner">
            <select name="owner"></select>
          </div>
        </div>
        <div class="clearfix member twitter-member">
          <label for=""
            data-setup="localize"
            data-text-tw-en="メンバー (Twitter)"
            data-text-fb-en="メンバー (Facebook)"
            data-text-tw-ja="Member (Twitter)"
            data-text-fb-ja="Member (Facebook)"
            data-text-ja="メンバー (Twitter)"
          >Member (Twitter)</label>
          <div class="input owner">
            <div class="input-prepend">
              <span class="add-on">@</span>
              <input
                type="text"
                name="member"
                placeholder="screen_name"
              >
            </div>
          </div>
        </div>
        <ul class="unstyled members twitter-members">
          <li class="clearfix">
            <div><img width="16" height="16"></div>
            <div class="name"></div>
            <div><input type="hidden" name="members"></div>
            <div class="icon icon-cross"></div>
          </li>
        </ul>
        <div class="clearfix member email-member">
          <label for=""
            data-setup="localize"
            data-text-ja="メンバー (E-mail)"
          >Member (E-mail)</label>
          <div class="input owner">
            <div class="input-prepend">
              <span class="add-on">e</span>
              <input
                type="text"
                name="member"
                placeholder="Mail Address"
              >
            </div>
          </div>
        </div>
        <ul class="unstyled members email-members">
          <li class="clearfix">
            <div class="icon icon-email"></div>
            <div class="name"></div>
            <div><input type="hidden" name="members"></div>
            <div class="icon icon-cross"></div>
          </li>
        </ul>
      </div>
      <div class="left description">
        <ul>
          <li
            data-setup="localize"
            data-text-ja="メンバーに何も送信されません。">
            no notice.
          </li>
          <li
            data-setup="localize"
            data-text-ja="登録されたリストは左カラム上部メニューからご選択下さい。">
            list show to left menu.
          </li>
          <li
            data-setup="localize"
            data-text-ja="フォームは自動で閉じません。">
            no auto close.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn primary"
      data-setup="localize"
      data-text-ja="登録"
    >Register</button>
    <button
      class="btn secondary"
      data-setup="localize,click"
      data-text-ja="閉じる"
      data-click="hide"
      data-hide-id="register-list-window"
    >Close</button>
  </div>
</form>

<form
  id="delete-list-window"
  class="modal form-stacked"
  data-setup="ui,submit,escclose"
  data-ui="draggable"
  data-submit="deleteList"
  data-show-effect="fade"
  data-show-speed="fast"
  data-show-callback="dom.autofocus"
  data-hide-effect="fade"
  data-hide-speed="fast"
  data-hide-callback="dom.blur"
>
  <div class="modal-header">
    <h3
      data-setup="localize"
      data-text-ja="リスト削除"
    >Delete List</h3>
    <a
      class="close"
      data-setup="click"
      data-click="hide"
      data-hide-id="delete-list-window"
    >×</a>
  </div>
  <div class="modal-body">
    <p
      data-setup="localize"
      data-text-ja="本当にリストを削除しますか？"
    >Do you really want to delete the list?</p>
  </div>
  <div class="modal-footer">
    <button
      class="btn danger"
      tabindex="2"
      data-setup="localize"
      data-text-ja="削除"
    >Delete</button>
    <button
      class="btn secondary"
      tabindex="1"
      data-setup="localize,click"
      data-text-ja="キャンセル"
      data-click="hide"
      data-hide-id="delete-list-window"
      data-autofocus="true"
    >Cancel</button>
  </div>
</form>

<form
  id="register-task-window"
  class="modal form-stacked"
  data-setup="submit,ui,registerTaskWindow,escclose"
  data-submit="registerTask"
  data-ui="draggable"
  data-show-effect="fade"
  data-show-speed="fast"
  data-show-callback="dom.autofocus"
  data-hide-effect="fade"
  data-hide-speed="fast"
  data-hide-callback="dom.blur"
>
  <div class="modal-header">
    <h3
      data-setup="localize"
      data-text-ja="タスク登録"
    >Register Task</h3>
    <a
      class="close"
      data-setup="click"
      data-click="hide"
      data-hide-id="register-task-window"
    >×</a>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="left">
        <input type="hidden" name="list_id" value="">
        <input type="hidden" name="task_id" value="">
        <input type="hidden" name="registrant" value="">
        <div class="clearfix">
          <label for=""
            data-setup="localize"
            data-text-ja="タイトル (1-30文字)"
          >Title (1-30 characters)</label>
          <div class="input">
            <input type="text" name="name" value="" required maxlength="30" data-autofocus="true">
          </div>
        </div>
        <div class="clearfix">
          <label for=""
            data-setup="localize"
            data-text-ja="期日"
          >Due</label>
          <div class="input">
            <input
              type="text"
              name="due"
              value=""
              placeholder="←↑→↓"
              data-setup="dateplus"
            >
          </div>
        </div>
        <div class="clearfix">
          <label for=""
            data-setup="localize"
            data-text-ja="依頼者"
          >Requester</label>
          <div class="input">
            <select name="requester"></select>
          </div>
        </div>
      </div>
      <div class="left" style="margin-left: 20px;">
        <div class="clearfix">
          <label for=""
            data-setup="localize"
            data-text-ja="担当者"
          >Assign</label>
          <div class="input">
            <ul class="unstyled assign">
              <li class="clearfix">
                <label>
                  <div class="checkbox"><input type="checkbox" name="assign"></div>
                  <div class="icon"><img class="sq16"></div>
                  <div class="name">XXXX</div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn primary"
      data-setup="localize"
      data-text-ja="登録"
    >Register</button>
    <button
      class="btn secondary"
      data-setup="localize,click"
      data-text-ja="閉じる"
      data-click="hide"
      data-hide-id="register-task-window"
    >Close</button>
  </div>
</form>

<form
  id="clear-list-window"
  class="modal form-stacked"
  data-setup="ui,submit,escclose"
  data-ui="draggable"
  data-submit="clearList"
  data-show-effect="fade"
  data-show-speed="fast"
  data-show-callback="dom.autofocus"
  data-hide-effect="fade"
  data-hide-speed="fast"
  data-hide-callback="dom.blur"
>
  <div class="modal-header">
    <h3
      data-setup="localize"
      data-text-ja="完了済のタスクを削除"
    >Clear Closed Task</h3>
    <a
      class="close"
      data-setup="click"
      data-click="hide"
      data-hide-id="clear-list-window"
    >×</a>
  </div>
  <div class="modal-body">
    <p
      data-setup="localize"
      data-text-ja="本当に完了済のタスクを削除しますか？"
    >Do you really want to clear the closed task?</p>
  </div>
  <div class="modal-footer">
    <button
      class="btn danger"
      data-setup="localize"
      data-text-ja="削除"
      data-autofocus="true"
    >Delete</button>
    <button
      class="btn secondary"
      data-setup="localize,click"
      data-text-ja="キャンセル"
      data-click="hide"
      data-hide-id="clear-list-window"
    >Cancel</button>
  </div>
</form>

<form
  id="help-window"
  class="modal form-stacked"
  data-setup="ui,escclose"
  data-ui="draggable"
  data-show-effect="fade"
  data-show-speed="fast"
  data-show-callback="dom.autofocus"
  data-hide-effect="fade"
  data-hide-speed="fast"
  data-hide-callback="dom.blur"
>
  <div class="modal-header">
    <h3
      data-setup="localize"
      data-text-ja="ヘルプ"
    >Help</h3>
    <a
      class="close"
      data-setup="click"
      data-click="hide"
      data-hide-id="help-window"
    >×</a>
  </div>
  <div class="modal-body">
    <ul class="tabs">
      <li class="active">
        <a
          data-setup="tabMenu"
          data-tab-id="menu"
          data-tab-group="help"
        >Menu</a>
      </li>
      <li>
        <a
          data-setup="tabMenu"
          data-tab-id="icon"
          data-tab-group="help"
        >Icon</a>
      </li>
      <li>
        <a
          data-setup="tabMenu"
          data-tab-id="shortcut-key"
          data-tab-group="help"
        >Shortcut Key</a>
      </li>
    </ul>
    <div>
      <div
        data-setup="tabContent"
        data-tab-id="menu"
        data-tab-group="help"
      >
        <h4>Menu</h4>
        <dl>
          <dt>Todo</dt>
          <dd>Today task. ( Excluding others, and future, and fixed )</dd>
          <dt>Verify</dt>
          <dd>Requested someone fixed task.</dd>
          <dt>Request</dt>
          <dd>Requested someone not fixed task.</dd>
          <dt>Star</dt>
          <dd>Checked star task.</dd>
        </dl>
      </div>
      <div
        style="display: none;"
        data-setup="tabContent"
        data-tab-id="icon"
        data-tab-group="help"
      >
        <h4>Icon</h4>
        <ul class="unstyled">
          <li>
            <span class="icon icon-tasks-off"></span>
            <span
              data-setup2="localize"
              data-text-ja="未着手"
            >Open ( Rotation button )</span>
          </li>
          <li>
            <span class="icon icon-tasks-half"></span>
            <span>In Progress</span>
          </li>
          <li>
            <span class="icon icon-tasks"></span>
            <span>Fixed</span>
          </li>
          <li>
            <span class="icon icon-star"></span>
            <span>Star On ( Toggle button )</span>
          </li>
          <li>
            <span class="icon icon-star"></span>
            <span>Star Off</span>
          </li>
          <li>
            <span class="icon icon-address"></span>
            <span class="icon"></span>
            <span class="icon"></span>
            <span class="icon"></span>
            <span class="icon"></span>
            <span>Requester ( Requester must be assign or fixed )</span>
          </li>
          <li>
            <span class="icon icon-address"></span>
            <span class="icon icon-left"></span>
            <span class="icon icon-address"></span>
            <span class="icon"></span>
            <span class="icon"></span>
            <span>Assign &lt; Requester ( Assign must be fixed )</span>
          </li>
          <li>
            <span class="icon icon-address"></span>
            <span class="icon icon-left"></span>
            <span class="icon icon-address"></span>
            <span class="icon icon-left"></span>
            <span class="icon icon-address"></span>
            <span>Requester &lt; Assign &lt; Requester ( Requester must be verify )</span>
          </li>
        </ul>
      </div>
      <div
        style="display: none;"
        data-setup="tabContent"
        data-tab-id="shortcut-key"
        data-tab-group="help"
      >
        <h4>Shortcut Key</h4>
        <div class="clearfix">
        <dl style="float: left;">
          <dt>[C]</dt>
          <dd>Create a New Task.</dd>
          <dt>[ESC]</dt>
          <dd>Close Some Window.</dd>
          <dt>[T]</dt>
          <dd>Open Today.</dd>
          <dt>[V]</dt>
          <dd>Open Verify.</dd>
          <dt>[R]</dt>
          <dd>Open Request.</dd>
          <dt>[S]</dt>
          <dd>Open Star.</dd>
        </dl>
        <dl style="float: left; margin-left: 10px; padding-left: 10px; border-left: 1px dotted gray;">
          <dt>[1-9]</dt>
          <dd>Select List.</dd>
          <dt>[Down]</dt>
          <dd>Select Next Task.</dd>
          <dt>[Up]</dt>
          <dd>Select Previous Task.</dd>
        </dl>
        <dl style="float: left; margin-left: 10px; padding-left: 10px; border-left: 1px dotted gray;">
          <dt>[Space]</dt>
          <dd>Progress Status a Task.</dd>
          <dt>[Enter]</dt>
          <dd>Closed a Task.</dd>
          <dt>[E]</dt>
          <dd>Edit a Selected Task.</dd>
          <dt>[M]</dt>
          <dd>Select comment textarea.</dd>
          <dt>[Right]</dt>
          <dd>Due + 1 day.</dd>
          <dt>[Left]</dt>
          <dd>Due - 1 day.</dd>
        </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn secondary"
      data-setup="localize,click"
      data-text-ja="閉じる"
      data-click="hide"
      data-hide-id="help-window"
      data-autofocus="true"
    >Close</button>
  </div>
</form>

[% IF notice %]
<div id="notice" class="modal">
  <div class="modal-header">
    <h3>Notice</h3>
    <a class="close" data-setup="click" data-click="hide" data-hide-id="notice">×</a>
  </div>
  <div class="modal-body">
    [% IF notice == 'tw_account_add' %]
    <p
      data-setup="localize"
      data-text-ja="Twitter Account を追加しました。"
    >Success Add Twitter Account.</p>
    [% ELSIF notice == 'tw_account_create' %]
    <p
      data-setup="localize"
      data-text-ja="ようこそ。 早速「＋新しいタスク」からタスクを登録してみましょう。"
    >Welcome! Let's +New Task</p>
    [% ELSIF notice == 'tw_account_move' %]
    <p
      data-setup="localize"
      data-text-ja="Twitter Account を割り当て直しました。"
    >Success Move Twitter Account.</p>
    [% ELSIF notice == 'fb_account_add' %]
    <p
      data-setup="localize"
      data-text-ja="Facebook Account を追加しました。"
    >Success Add Facebook Account.</p>
    [% ELSIF notice == 'fb_account_create' %]
    <p
      data-setup="localize"
      data-text-ja="ようこそ。 早速「＋新しいタスク」からタスクを登録してみましょう。"
    >Welcome! Let's +New Task</p>
    [% ELSIF notice == 'fb_account_move' %]
    <p
      data-setup="localize"
      data-text-ja="Facebook Account を割り当て直しました。"
    >Success Move Facebook Account.</p>
    [% ELSE %]
    <p>Unknown Notice Error.</p>
    [% END %]
  </div>
  <div class="modal-footer">
    <a class="btn primary" data-setup="click" data-click="hide" data-hide-id="notice">Close</a>
  </div>
</div>
[% END %]

<form id="add-twitter" method="post" action="/signin/twitter/signin">
  <input type="hidden" name="mode" value="add">
</form>

<form id="add-facebook" method="post" action="/signin/facebook/signin">
  <input type="hidden" name="mode" value="add">
</form>

<div id="messages"
  data-text-create-task-en="create the task of the"
  data-text-create-task-ja="タスクを作成"
  data-text-update-task-en="update the task of the"
  data-text-update-task-ja="タスクを更新"
  data-text-clear-task-en="clear the task of the"
  data-text-clear-task-ja="完了済タスクを削除"

  data-text-reopen-task-en="update (fix => open) the task of the"
  data-text-reopen-task-ja="タスクを更新 (処理済 => 未着手)"
  data-text-start-task-en="start the task of the"
  data-text-start-task-ja="タスクに着手"
  data-text-fix-task-en="fix the task of the"
  data-text-fix-task-ja="タスクを処理"
  data-text-close-task-en="close the task of the"
  data-text-close-task-ja="タスクを完了"

  data-text-rereopen-task-en="update (close => open) the task of the"
  data-text-rereopen-task-ja="タスクを更新 (完了 => 未着手)"
  data-text-restart-task-en="update (close => start) the task of the"
  data-text-restart-task-ja="タスクを更新 (処理済 => 着手)"
  data-text-refix-task-en="update (close => fix) the task of the"
  data-text-refix-task-ja="タスクを更新 (完了 => 処理済)"
></div>

<div
  id="receiver"
  style="display: none;"
  data-setup="receiver"></div>

</body>
</html>