<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks</title>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/smoothness/jquery-ui.css" media="all">
<link rel="stylesheet" href="/static/css/app.css" media="all">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.js"></script>
<script src="/static/js/jquery.autogrow-textarea.js"></script>
<script src="/static/js/h5utils.js"></script>
<script src="/static/js/core.js"></script>
<script src="/static/js/app-base.js"></script>
<script src="/static/js/app-constants.js"></script>
<script src="/static/js/app-page-viewer.js"></script>
<!-- [% IF 0 %] -->
<script src="../htdocs/static/js/core.js"></script>
<script src="../htdocs/static/js/app-base.js"></script>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
<link rel="stylesheet" href="../htdocs/static/css/app.css" media="all">
<!-- [% END %] -->
</head>
<body>
<div class="topbar" data-init="topBar">
  <div class="fill">
    <div class="container">
      <h3><a href="/">7kai Tasks</a></h3>
      <ul>
        <li>
          <a
            href="/"
            data-init="localize"
            data-text-ja="今日迄 (1件)"
          >Todo</a>
        </li>
        <li class="active">
          <a
            href="/"
            data-init="localize"
            data-text-ja="確認待ち (1件)"
          >Verify</a>
        </li>
        <li class="">
          <a
            href="/"
            data-init="localize,click"
            data-text-ja="依頼中 (12件)"
            data-click="hide,show"
            data-show-id="task-verify"
            data-hide-id="task-management"
          >Request</a>
        </li>
        <li class="">
          <a
            href="/"
            data-init="localize,click"
            data-text-ja="スター (3件)"
            data-click="hide,show"
            data-show-id="task-verify"
            data-hide-id="task-management"
          >Star</a>
        </li>
      </ul>
      <ul class="nav secondary-nav">
        <li class="">
          <a
            href="/"
            data-init="localize"
            data-text-ja="お知らせ (12件)"
          >Request</a>
        </li>
        <li
          class="menu"
          data-init="menu"
        >
          <a href="#" class="menu profile-name"><img class="profile-icon" src="[% sign.icon %]">[% sign.name %]</a>
          <ul class="menu-dropdown" style="display: none; ">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Help</a></li>
            <li class="divider"></li>
            <li><a href="/signout">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div
    class="span4 columns"
    data-init="stretch,leftColumn"
  >
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li class="menu" data-init="menu">
              <a class="menu list-name">su_aska</a>
              <ul class="menu-dropdown lists" style="display: none;">
                <li class="divider"></li>
                <li><a
                  data-init="localize,click"
                  data-text-ja="新しいリスト"
                  data-click="createList"
                >New List</a></li>
              </ul>
            </li>
          </ul>
          <div
            id="create-list-twipsy"
            class="twipsy below"
            style="display: none; top: 44px; left: 10x;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"up"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">New List!</div>
          </div>
          <div
            id="update-list-twipsy"
            class="twipsy below"
            style="display: none; top: 44px; left: 10x;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"up"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">Update List!</div>
          </div>
          <div
            id="delete-list-twipsy"
            class="twipsy below"
            style="display: none; top: 44px; left: 10x;"
            data-show-effect="bounce"
            data-show-speed="fast"
            data-show-callback="dom.hide"
            data-hide-speed="fast"
            data-hide-option='{"direction":"up"}'
          >
            <div class="twipsy-arrow"></div>
            <div class="twipsy-inner">Delete List!</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Members</h2>
        <ul class="unstyled members">
        </ul>
      <h2>Settings</h2>
        <ul class="unstyled">
          <li>
            <label>
              <input type="checkbox" name="mute" value="1">
              <span
                data-init="localize"
                data-text-ja="ミュート"
              >Mute</span>
            </label>
          </li>
        </ul>
      <h2>Menu</h2>
      <ul class="unstyled">
        <li><a class="action"
            data-init="localize,click"
            data-click="createList"
            data-text-ja="リストを作成..."
        >New List...</a></li>
        <li><a class="action"
            data-init="localize,click"
            data-click="editList"
            data-text-ja="リストを編集..."
        >Edit List...</a></li>
        <li><a class="action"
            id="closed-task-switch"
            data-init="click,localize"
            data-bind="switchClosed"
            data-closed="1"
            data-text-ja="完了済のタスクを表示切替"
        >Toggle Show closed Task</a></li>
        <li><a class="action"
            data-init="click,localize"
            data-bind="open"
            data-id="clear-trash-window"
            data-callback="clearTrash"
            data-text-ja="完了済のタスクを削除"
        >Clear Trash</a></li>
        <li><hr></li>
        <li><a
            class="action"
            data-init="localize,click"
            data-click="show"
            data-show-id="delete-list-window"
            data-text-ja="リストを削除"
        >Delete List</a></li>
      </ul>
    </div>
  </div>
  <div
    class="span8 columns"
    data-init="stretch"
  >
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li><a
              data-init="localize,click"
              data-click="createTask"
              data-text-ja="＋新しいタスク"
            >+ New Task</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="menu" data-init="menu">
              <a href="#" class="menu">Sort</a>
              <ul class="menu-dropdown" style="display: none; ">
                <li><a href="#">Title</a></li>
                <li><a href="#">Updated</a></li>
                <li><a href="#">Due</a></li>
                <li><a href="#">Person</a></li>
                <li><a href="#">Free</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    
    
    
    
    
    
    <ul class="unstyled tasks">
      <li class="clearfix">
        <div class="icon icon-grip"></div>
        <div class="icon icon-tasks-off"></div>
        <div class="icon icon-star-off"></div>
        <div class="icon icon-address-off"></div>
        <div class="title">アイコン作成</div>
        <div class="icon icon-cross delete"></div>
        <div class="due">8/23</div>
      </li>
      <li class="clearfix">
        <div class="icon icon-grip"></div>
        <div class="icon icon-tasks-off"></div>
        <div class="icon icon-star-off"></div>
        <div class="icon icon-address-off"></div>
        <div class="">アイコン作成</div>
        <div class="icon icon-cross delete"></div>
        <div class="due">8/23</div>
        <div class="recent-comment">
          <div class="icon icon-address-off"></div>
          <div class="comment">&nbsp;&lt;&nbsp;◯◯◯◯◯◯◯◯◯◯◯</div>
        </div>
      </li>
    </ul>
  </div>
  <div
    class="span6 columns"
    data-init="stretch"
  >
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li><a
              data-init="localize,click"
              data-click="show"
              data-show-id="register-task-window"
              data-text-ja="タスクを編集"
            >Edit Task</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <dl>
        <dt>リスト</dt>
        <dd>su_aska's list</dd>
        <dt>タイトル</dt>
        <dd>アイコン作成</dd>
      </dl>
      <form class="form-stacked">
        <label
          data-init="localize"
          data-text-ja="コメントを添える"
        >Comment on this task</label>
        <textarea style="width: 310px; height: 56px; margin-bottom: 6px;"></textarea>
        <div class="">
          <button
            class="btn primary"
            data-init="localize"
            data-text-ja="タスク完了"
          >Comment &amp; Close</button>
          <button
            class="btn"
            data-init="localize"
            data-text-ja="タスク差し戻し"
          >Comment &amp; Revert</button>
        </div>
      </form>
    </div>
  </div>
</div>

<form
  id="register-list-window"
  class="modal form-stacked"
  data-init="ui,submit,registerListWindow"
  data-show-callback="dom.autofocus"
  data-ui="draggable"
  data-submit="registerList"
>
  <div class="modal-header">
    <h3
      data-init="localize"
      data-text-ja="リスト登録"
    >Register List</h3>
    <a
      class="close"
      data-init="click"
      data-click="hide"
      data-hide-id="register-list-window"
    >×</a>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="left">
        <input type="hidden" name="list_id" value="">
        <div class="clearfix">
          <label for=""
            data-init="localize"
            data-text-ja="リスト名"
          >Name</label>
          <div class="input">
            <input type="text" name="name" value="" required data-autofocus="true">
          </div>
        </div>
        <div class="clearfix owner-field">
          <label for=""
            data-init="localize"
            data-text-ja="オーナー"
          >Owner</label>
          <div class="input owner">
            <select name="owner"></select>
          </div>
        </div>
        <div class="clearfix member twitter-member">
          <label for=""
            data-init="localize"
            data-text-ja="メンバー (Twitter)"
          >Member (Twitter)</label>
          <div class="input owner">
            <div class="input-prepend">
              <span class="add-on">@</span>
              <input
                type="text"
                name="member"
                placeholder="screen_name"
              >
            </div>
          </div>
        </div>
        <ul class="unstyled members twitter-members">
          <li class="clearfix">
            <div><img width="16" height="16"></div>
            <div class="name"></div>
            <div><input type="hidden" name="members"></div>
            <div class="icon icon-cross"></div>
          </li>
        </ul>
        <div class="clearfix member facebook-member">
          <label for=""
            data-init="localize"
            data-text-ja="メンバー (Facebook)"
          >Member (Facebook)</label>
          <div class="input owner">
            <div class="input-prepend">
              <span class="add-on">f</span>
              <input
                type="text"
                name="member"
                placeholder="username"
              >
            </div>
          </div>
        </div>
        <ul id="member-facebook" class="unstyled members facebook-members">
          <li class="clearfix">
            <div><img width="16" height="16"></div>
            <div class="name"></div>
            <div><input type="hidden" name="members"></div>
            <div class="icon icon-cross"></div>
          </li>
        </ul>
        <div class="clearfix member email-member">
          <label for=""
            data-init="localize"
            data-text-ja="メンバー (E-mail)"
          >Member (E-mail)</label>
          <div class="input owner">
            <div class="input-prepend">
              <span class="add-on">e</span>
              <input
                type="text"
                name="member"
                placeholder="Mail Address"
              >
            </div>
          </div>
        </div>
        <ul class="unstyled members email-members">
          <li class="clearfix">
            <div class="icon icon-email"></div>
            <div class="name"></div>
            <div><input type="hidden" name="members"></div>
            <div class="icon icon-cross"></div>
          </li>
        </ul>
      </div>
      <div class="left description">
        <ul>
          <li
            data-init="localize"
            data-text-ja="メンバーに何も送信されません。"></li>
          <li
            data-init="localize"
            data-text-ja="登録されたリストは左カラム上部メニューからご選択下さい。"></li>
          <li
            data-init="localize"
            data-text-ja="フォームは自動で閉じません。"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn primary"
      data-init="localize"
      data-text-ja="登録"
    >Register</button>
    <button
      class="btn secondary"
      data-init="localize,click"
      data-text-ja="閉じる"
      data-click="hide"
      data-hide-id="register-list-window"
    >Close</button>
  </div>
</form>

<form
  id="delete-list-window"
  class="modal form-stacked"
  data-init="ui,submit"
  data-ui="draggable"
  data-submit="deleteList"
>
  <div class="modal-header">
    <h3
      data-init="localize"
      data-text-ja="リスト削除"
    >Delete List</h3>
    <a
      class="close"
      data-init="click"
      data-click="hide"
      data-hide-id="delete-list-window"
    >×</a>
  </div>
  <div class="modal-body">
    <p
      data-init="localize"
      data-text-ja="本当にリストを削除しますか？"
    >Do you really want to delete the list?</p>
  </div>
  <div class="modal-footer">
    <button
      class="btn danger"
      data-init="localize"
      data-text-ja="削除"
    >Delete</button>
    <button
      class="btn secondary"
      data-init="localize,click"
      data-text-ja="キャンセル"
      data-click="hide"
      data-hide-id="delete-list-window"
    >Cancel</button>
  </div>
</form>

<form
  id="register-task-window"
  class="modal form-stacked"
  data-init="submit,registerTaskWindow"
  data-submit="registerTask"
  data-show-callback="dom.autofocus"
>
  <div class="modal-header">
    <h3
      data-init="localize"
      data-text-ja="タスク登録"
    >Register Task</h3>
    <a
      class="close"
      data-init="click"
      data-click="hide"
      data-hide-id="register-task-window"
    >×</a>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="left">
        <input type="hidden" name="list_id" value="">
        <input type="hidden" name="task_id" value="">
        <input type="hidden" name="registrant" value="">
        <div class="clearfix">
          <label for=""
            data-init="localize"
            data-text-ja="タイトル"
          >Title</label>
          <div class="input">
            <input type="text" name="title" value="" data-autofocus="true" required>
          </div>
        </div>
        <div class="clearfix">
          <label for=""
            data-init="localize"
            data-text-ja="期日"
          >Due</label>
          <div class="input">
            <input type="text" name="due" value="">
          </div>
        </div>
        <div class="clearfix">
          <label for=""
            data-init="localize"
            data-text-ja="依頼者"
          >Requester</label>
          <div class="input">
            <select name="requester"></select>
          </div>
        </div>
      </div>
      <div class="left" style="margin-left: 20px;">
        <div class="clearfix">
          <label for=""
            data-init="localize"
            data-text-ja="担当者"
          >Assign</label>
          <div class="input">
            <ul class="unstyled assign">
              <li class="clearfix">
                <label>
                  <div class="checkbox"><input type="checkbox" name="assign"></div>
                  <div class="icon"><img class="sq16"></div>
                  <div class="name">XXXX</div>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      href="#"
      class="btn primary"
      data-init="localize"
      data-text-ja="登録"
    >Register</button>
    <button
      href="#"
      class="btn secondary"
      data-init="localize,click"
      data-text-ja="閉じる"
      data-click="hide"
      data-hide-id="register-task-window"
    >Close</button>
  </div>
</form>

[% IF notice %]
<div id="notice" class="modal">
  <div class="modal-header">
    <h3>Notice</h3>
    <a class="close" data-init="click" data-click="hide" data-hide-id="notice">×</a>
  </div>
  <div class="modal-body">
    [% IF notice == 'tw_account_add' %]
    <p
      data-init="localize"
      data-text-ja="Twitter Account を追加しました。"
    >Success Add Twitter Account.</p>
    [% ELSIF notice == 'tw_account_create' %]
    <p
      data-init="localize"
      data-text-ja="ようこそ。 早速「＋新しいタスク」からタスクを登録してみましょう。"
    >Welcome! Let's +New Task</p>
    [% ELSIF notice == 'tw_account_move' %]
    <p
      data-init="localize"
      data-text-ja="Twitter Account を割り当て直しました。"
    >Success Move Twitter Account.</p>
    [% ELSE %]
    [% END %]
  </div>
  <div class="modal-footer">
    <a class="btn primary" data-init="click" data-click="hide" data-hide-id="notice">Close</a>
  </div>
</div>
[% END %]

</body>
</html>