[% WRAPPER 'include/layout_pc.tt' WITH page = 'signin' %]

<nav>
<ul>
<li><a href="/signin/twitter/oauth">Sign in with Twitter</a></li>
<li><a href="/signin/facebook/oauth">Sign in with Facebook (...comming soon...)</a></li>
<li><a href="/signin/email/input">Sign in with E-mail (...comming soon...)</a></li>
</ul>
</nav>

[% END %]