<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>7kai Tasks</title>
<meta charset="utf-8">
<meta id="keywords" content="Task,Management,Twitter,Facebook,タスク管理,タスク共有">
<meta id="description" content="The web-based task management software.">
<meta property="fb:admins" content="272550092773416">
<meta property="og:title" content="7kai Tasks">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tasks.7kai.org/">
<meta property="og:image" content="https://tasks.7kai.org/static/img/logo-128.png">
<meta property="og:site_name" content="7kai Tasks">
<meta property="og:description" content="The web-based task management software.">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/signin.css" media="all">
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery-ui-1.8.13.js"></script>
<script src="/static/js/app-core.js"></script>
<script src="/static/js/app-base.js"></script>
<script src="/static/js/app-base-signin.js"></script>
</head>
<body>
<aside class="language-select"><a href="?lang=en">English</a> / <a href="?lang=ja">Japanese</a></aside>
<header>
  <p
    data-setup="localize"
    data-text-ja="もう忘れてたとは言わせない"
  >Never forget anything again.</p>
  <h1>7kai Tasks</h1>
  <nav><a
    data-setup="show"
    data-show='{"id":"signin"}'
  ><img src="/static/img/button-start.gif"></a></nav>
</header>

<article class="container">
  <ul class="unstyled">
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="タスクを整理し、やるべきことに集中"
        >Rearranging and concentration.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="チームにも対応、メールやチャットでの依頼をスマートリプレース"
        >Replace an email and IM.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="ブラウザ拡張も導入すれば、その日の残タスクが一目瞭然"
        >Install Browser Extentions.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
    </li>
  </ul>
</article>

<div class="container">
  <div class="row" style="margin-bottom:20px">
    <div class="span4">
      <div class=""><img src="/static/img/top-start-tasks.png"></div>
      <h2
        data-setup="localize"
        data-text-ja="速く"
      >Quick</h2>
      <p
        data-setup="localize"
        data-text-ja="連続登録に対応したタスク登録画面。"
      >Let's register a lot.</p>
      <p
        data-setup="localize"
        data-text-ja="タイトル入力即エンター。"
      >Input and [Enter].</p>
    </div>
    <div class="span4">
      <div class=""><img src="/static/img/top-coffee.png"></div>
      <h2
        data-setup="localize"
        data-text-ja="軽快で"
      >One hand</h2>
      <p
        data-setup="localize"
        data-text-ja="ワンクリックで状態変更。"
      >State change with a single click.</p>
      <p
        data-setup="localize"
        data-text-ja="ダブルクリックですぐ編集。"
      >Double-click to edit.</p>
      <p
        data-setup="localize"
        data-text-ja="ガントチャートで気軽にリスケ。"
      >Rescheduling by Gantt chart.</p>
    </div>
    <div class="span4">
      <div class=""><img src="/static/img/top-rush.png"></div>
      <h2
        data-setup="localize"
        data-text-ja="時に激しく"
      >Rush</h2>
      <p
        data-setup="localize"
        data-text-ja="その日やる事にスターを付け一気に消化。"
      >Give a star and end it in a day.</p>
    </div>
  </div>
  <div class="row" style="margin-bottom:60px">
    <div class="span4">
      <div class=""><img src="/static/img/top-option.png"></div>
      <h2
        data-setup="localize"
        data-text-ja="多彩で"
      >More operation</h2>
      <p
        data-setup="localize"
        data-text-ja="捌き切れないタスクは延期・保留・委任・破棄。"
      >Manage pending and postponement and assign.</p>
      <p
        data-setup="localize"
        data-text-ja="終わらないタスクを溜め込まない。"
      >Postpone or cancel the task that was not over.</p>
    </div>
    <div class="span4">
      <div class=""><img src="/static/img/top-filter.png"></div>
      <h2
        data-setup="localize"
        data-text-ja="豊富で"
      >Grasp</h2>
      <p
        data-setup="localize"
        data-text-ja="４つのソート。"
      >Four sorts.</p>
      <p
        data-setup="localize"
        data-text-ja="５つのフィルター。"
      >Five filters.</p>
      <p
        data-setup="localize"
        data-text-ja="色で分類可能なリスト。"
      >Classify lists with a color.</p>
    </div>
    <div class="span4">
      <div class=""><img src="/static/img/top-killall.png"></div>
      <h2
        data-setup="localize"
        data-text-ja="すぐわかる"
      >Extermination</h2>
      <p
        data-setup="localize"
        data-text-ja="ブラウザ通知で即キャッチ。"
      >Immediately catch by Browser Notification.</p>
      <p
        data-setup="localize"
        data-text-ja="ヒストリーで後追いも楽々。"
      >Check to follow later by Changes.</p>
    </div>
  </div>
</div>

<div style="text-align:center;margin-bottom:60px">
  <a
    style="font-size:3em"
    href="manual"
    data-setup="localize"
    data-text-ja="マニュアルが出来ました"
  >Manual and more information</a>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span2">
        <h4>Product</h4>
        <ul>
          <li><a href="/static/tos.html">Terms</a></li>
          <li><a href="/static/privacy.html">Privacy</a></li>
          <li><a href="https://github.com/s-aska/7kai-Tasks" target="_blank">Github</a></li>
        </ul>
      </div>
      <div class="span2">
        <h4>Support</h4>
        <ul>
          <li><a href="https://www.facebook.com/s.aska.org" target="_blank">Author</a></li>
          <li><a href="https://www.facebook.com/pages/7kai-Tasks/189391624444427" target="_blank">Facebook Page</a></li>
        </ul>
      </div>
    </div>
    <address>&copy; Shinichiro Aska</address>
    <ul class="unstyled clearfix" style="margin: 0">
      <li style="float: left">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="7kai Tasks - The web-based task management software" data-url="https://tasks.7kai.org/">Tweet</a>
      </li>
      <li style="float: left">
        <div class="fb-like" data-href="https://tasks.7kai.org/" data-send="true" data-layout="button_count" data-width="120" data-show-faces="false"></div>
      </li>
      <li style="float: left">
        <div class="g-plusone" data-size="medium" data-href="https://tasks.7kai.org/"></div>
      </li>
    </ul>
  </div>
</footer>
<div
  class="modal"
  data-setup="showable"
  data-showable='{"id":"signin","show":{"effect":"fade"},"hide":{"effect":"fade"}}'
>
  <div class="modal-header">
    <a
      class="close"
      data-setup="hide"
      data-hide='{"id":"signin"}'
    >×</a>
    <h3>Sign In</h3>
  </div>
  <div class="modal-body">
    <div
      style="text-align: center;"
      data-setup="tab.content"
      data-tab='{"id":"social","group":"signin"}'
    >
      <form method="post" action="/signin/twitter/signin">
        <div><button class="btn btn-large btn-primary"style="width: 190px;">Connect with Twitter</button></div>
      </form>
      <form method="post" action="/signin/facebook/signin">
        <div><button class="btn btn-large btn-primary">Connect with Facebook</button></div>
      </form>
      <form method="post" action="/signin/google/signin">
        <div><button class="btn btn-large btn-primary"style="width: 190px;">Connect with Google</button></div>
      </form>
      <div class="alert alert-info">
        By signing up, you accept 7kai Tasks's <a href="/static/tos.html">terms</a> of use and <a href="/static/privacy.html">privacy policy</a>.
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=272550092773416";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11100870-4']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>