<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta charset="utf-8">
<meta name="keywords" content="Task,Management,Twitter,Facebook,タスク管理,タスク共有">
<meta property="fb:admins" content="272550092773416">
<meta property="og:title" content="7kai Tasks">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tasks.7kai.org/">
<meta property="og:image" content="https://tasks.7kai.org/static/img/logo-128.png">
<meta property="og:site_name" content="7kai Tasks">
<meta property="og:description" content="The web-based task management software.">
<title>7kai Tasks</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/signin.css" media="all">
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery-ui-1.8.13.js"></script>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/app-core.js"></script>
<script src="/static/js/app-base.js"></script>
<script src="/static/js/app-base-signin.js"></script>
</head>
<body>
<header>
  <p
    data-setup="localize"
    data-text-ja="もう忘れない、絶対に。"
  >Never forget anything again.</p>
  <h1>7kai Tasks</h1>
  <nav><a
    data-setup="show"
    data-show='{"id":"signin"}'
  ><img src="/static/img/button-start.gif"></a></nav>
  <div class="container">
    <div id="myCarousel" class="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/tasks-home.png">
        </div>
        <div class="item">
          <img src="/static/img/tasks-gantt.png">
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</header>
<article>
  <ul class="unstyled">
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="7kai TasksはWebベースのタスク管理ツールです"
        >The web-based task management software.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="TwitterやFacebookのフレンドとコラボレーション"
        >Collaborations with your friend of Twitter and Facebook.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="電話やメールの場合..."
          >Telephone / IM / E-mail ...</h2>
          <ul>
            <li
              data-setup="localize"
              data-text-ja="すぐに忘れられてしまいます。"
            >Everybody forgets it immediately.</li>
            <li
              data-setup="localize"
              data-text-ja="催促や、依頼内容の確認が大変です。"
            >Reminder is necessary.</li>
          </ul>
          <h2
            data-setup="localize"
            data-text-ja="7kai Tasksの場合..."
          >7kai Tasks.</h2>
          <ul>
            <li
              data-setup="localize"
              data-text-ja="あなたは「7kai Tasksを見て」と伝えるだけです。"
            >You only said `please watch 7kai Tasks`.</li>
          </ul>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-social.png">
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="ガントチャートによる簡単なリスケジュール"
        >Easily a rescheduling by the Gantt chart.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-gantt.png">
        </div>
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="面倒臭い事は放置されがちです"
          >The troublesome thing does not continue.</h2>
          <p
            data-setup="localize"
            data-text-ja="操作を簡単にしました。"
          >
            I simplified it.
          </p>
          <h2
            data-setup="localize"
            data-text-ja="カーソルキー又はクリックで期日指定"
          >Use the cursor control keys or click cell.</h2>
          <p>
            <span
              data-setup="localize"
              data-text-ja="タスク選択"
            >Selection task</span> ... [Top] / [Down].<br>
            <span
              data-setup="localize"
              data-text-ja="期日変更"
            >Setting due dates</span> ... [Left] / [Right].
          </p>
          <p
            data-setup="localize"
            data-text-ja="期日が正しく管理できないのは間違ったツールを使っていたからです。"
          >
            It is caused by a bad tool that a date is vague.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="シチュエーション毎に必要なリストだけを表示"
        >Display only an available list depending on the situation.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="色で分類可能なリスト"
          >Classify lists with a color.</h2>
          <p
            data-setup="localize"
            data-text-ja="仕事とプライベート、またはすぐ手に付けられないタスクを分類しましょう。"
          >Work and a private or importance ...etc</p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-tag2.png">
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="タスク管理メニューから絞り込めます。"
          >Can be used as a filter.</h2>
          <p></p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-tag.png">
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="カウンターを見るだけで把握。"
        >Obvious from the counter.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-filter.png">
        </div>
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="カウンター付きクイックフィルター。"
          >Quick Filter with a counter.</h2>
          <p
            data-setup="localize"
            data-text-ja="例えば確認待ちが1の場合、あなたの依頼を達成された事が一目瞭然です。"
          >
            When Verify was 1, somebody fixed your request.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="今日できない事は保留"
        >If you cannot do it, please make pending.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="保留タスク"
          >Pending Task.</h2>
          <p
            data-setup="localize"
            data-text-ja="「今日迄」から今日出来無い事を除きましょう、あとは頑張るだけです。期日を考える手間すら省くことが出来ます。"
          >If a list and the task that are not active are pending, you can concentrate on your playing.</p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-flexible.png">
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="保留リスト"
          >Pending List.</h2>
          <p
            data-setup="localize"
            data-text-ja="要望やアイデアは保留のリストに入れておくと良いです。"
          >It is an idea to make a list to collect pending task.</p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-pending-list.png">
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="RSS Readerで購読"
        >Subscribe in RSS Reader.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-format.png">
        </div>
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="RSSをはじめ多くの公開形式に対応しています。"
          >Supports many public formats.</h2>
          <p>RSS, iCal, HTML, JSON, JSONP.</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="ブラウザ拡張でタスクチェック"
        >Check in Browser Extensions.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6">
          <h2>Chrome Extensions.</h2>
          <p
            data-setup="localize"
            data-text-ja="バッジに今日迄のタスクがカウントされます。"
          >Even if you do not open the page, extensions displayed number of todo.</p>
          <p><strong
            data-setup="localize"
            data-text-ja="あなたはもう忘れないでしょう。"
          >Never forget anything again.</strong></p>
          <p><a href="https://chrome.google.com/webstore/detail/dolhpjcchfcnkcanamhgcgbnmcogdank" target="_blank">7kai Tasks Checker (Chrome Web Store)</a></p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-ext.png">
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="ショートカットを覚えるとより快適になります"
        >Once you learn a few shortcut keys and get comfortable.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-key.png">
        </div>
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="ショートカット一覧の表示"
          >Display the Shortcut Keys.</h2>
          <p
            data-setup="localize"
            data-text-ja="キーボドーアイコンをクリックするか、[?]または[/]キーを押して下さい。"
          >click keyboard icon or press [?] or [/] key.</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="ドラッグアンドドロップでリスト移動や階層管理"
        >Easily a move and hierarchy setting by the Drag and Drop.</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="タスクの下に移動"
          >Move to under the task.</h2>
          <p
            data-setup="localize"
            data-text-ja="対象タスクにドロップ"
          >Drop to a Task.</p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-nest.png">
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="ルートに移動"
          >Move to the root.</h2>
          <p
            data-setup="localize"
            data-text-ja="余白にドロップ"
          >Drop to a Space.</p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-nest2.png">
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <h2
            data-setup="localize"
            data-text-ja="リストに移動"
          >Move to the list.</h2>
          <p
            data-setup="localize"
            data-text-ja="対象リストにドロップ"
          >Drop to a list.</p>
        </div>
        <div class="span6 thumbnail">
          <img src="/static/img/tasks-concept-dd-list.png">
        </div>
      </div>
    </li>
    <li>
      <div>
        <span
          data-setup="localize"
          data-text-ja="さあ、あたらしいタスク管理を体験しましょう。"
        >Enjoy comfortable life! :)</span>
        <a><img src="/static/img/button-cross.gif"></a>
      </div>
    </li>
  </ul>
</article>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span2">
        <h4>Product</h4>
        <ul>
          <li><a href="/static/tos.html">Terms</a></li>
          <li><a href="/static/privacy.html">Privacy</a></li>
          <li><a href="https://github.com/s-aska/7kai-Tasks" target="_blank">Github</a></li>
        </ul>
      </div>
      <div class="span2">
        <h4>Support</h4>
        <ul>
          <li><a href="https://twitter.com/#!/su_aska" target="_blank">Author</a></li>
          <li><a href="https://www.facebook.com/pages/7kai-Tasks/189391624444427" target="_blank">Facebook Page</a></li>
        </ul>
      </div>
    </div>
    <address>&copy; Shinichiro Aska</address>
    <ul class="unstyled clearfix" style="margin: 0">
      <li style="float: left">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="7kai Tasks - The web-based task management software" data-url="https://tasks.7kai.org/">Tweet</a>
      </li>
      <li style="float: left">
        <div class="fb-like" data-href="https://tasks.7kai.org/" data-send="true" data-layout="button_count" data-width="120" data-show-faces="false"></div>
      </li>
      <li style="float: left">
        <div class="g-plusone" data-size="medium" data-href="https://tasks.7kai.org/"></div>
      </li>
    </ul>
  </div>
</footer>
<div
  class="modal"
  data-setup="showable"
  data-showable='{"id":"signin","show":{"effect":"fade"},"hide":{"effect":"fade"}}'
>
  <div class="modal-header">
    <a
      class="close"
      data-setup="hide"
      data-hide='{"id":"signin"}'
    >×</a>
    <h3>Sign In</h3>
  </div>
  <div class="modal-body">
    <div
      style="text-align: center;"
      data-setup="tab.content"
      data-tab='{"id":"social","group":"signin"}'
    >
      <form method="post" action="/signin/twitter/signin">
        <div><button class="btn btn-large btn-primary"style="width: 190px;">Connect with Twitter</button></div>
      </form>
      <form method="post" action="/signin/facebook/signin">
        <div><button class="btn btn-large btn-primary">Connect with Facebook</button></div>
      </form>
      <div class="alert alert-info">
        By signing up, you accept 7kai Tasks's <a href="/static/tos.html">terms</a> of use and <a href="/static/privacy.html">privacy policy</a>.
      </div>
    </div>
  </div>
</div>
<!-- <div
  class="modal"
  style="width: 940px; margin-left: -470px; max-height: 600px;"
  data-setup="showable"
  data-showable='{"id":"screenshot","show":{"effect":"fade"},"hide":{"effect":"fade"}}'
>
  <div class="modal-header">
    <a
      class="close"
      data-setup="hide"
      data-hide='{"id":"screenshot"}'
    >×</a>
    <h3>Screenshots</h3>
  </div>
  <div class="modal-body">
    
  </div>
</div> -->
<div id="fb-root"></div>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=272550092773416";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11100870-4']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>