<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks</title>
<link rel="stylesheet" href="/static/css/bootstrap-1.3.0.min.css">
<link rel="stylesheet" href="/static/css/signin.css" media="all">
<script src="/static/js/jquery-1.6.4.min.js"></script>
<script src="/static/js/jquery-ui-1.8.13.js"></script>
<script src="/static/js/core.js"></script>
<script src="/static/js/app-base.js"></script>
<script src="/static/js/app-constants.js"></script>
<script src="/static/js/app-page-signin.js"></script>
</head>
<body id="index-page">
<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><a href="/">7kai Tasks</a></h3>
    </div>
  </div>
</div>

<div class="row" style="width: 840px;">
  <div class="container" style="width: 840px; text-align: center;">
    <h1>Fastest For You</h1>
    <h2>High Speed Social Task Management Service</h2>
    <div style="margin-bottom: 20px;">
      <a
        class="btn large primary"
        data-setup="click"
        data-click="hide,show"
        data-show-id="signin"
        data-hide-id="movie"
      >Start Task Management</a>
    </div>
  </div>
  <div class="columns" style="width: 420px;">
    <div
      id="movie"
      data-hide-effect="none"
    ><iframe width="420" height="315" src="https://www.youtube.com/embed/tJOxEoFsbXM" frameborder="0" allowfullscreen></iframe></div>&nbsp;
  </div>
  <div class="span6 columns">
    <dl>
      <dt>1. Shortcut Keys</dt>
      <dd>Support the many Shortcut Keys.</dd>
      <dt>2. Anywhere</dt>
      <dd>Support the iPhone, iPad, and other smartphone.</dd>
      <dt>3. Offline</dt>
      <dd>If disconnected during the operation are recovery when connected.</dd>
      <dt>4. Share</dt>
      <dd>Share with your facebook and twitter friends.</dd>
    </dl>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>
      <a href="/static/tos.html">Terms</a>
      <a href="/static/privacy.html">Privacy</a>
      <a href="https://www.facebook.com/pages/7kai-Tasks/189391624444427" target="_blank">Support</a>
      <a href="https://github.com/s-aska/7kai-Tasks" target="_blank">Github</a>
      <a href="https://twitter.com/#!/su_aska" target="_blank">Author</a>
    </p>
  </div>
</footer>

<div
  id="signin"
  class="modal"
  data-show-effect="fade"
>
  <div class="modal-header">
    <h3>Sign In</h3>
  </div>
  <div class="modal-body">
    <ul class="tabs">
      <li class="active">
        <a
          data-setup="tabMenu"
          data-tab-id="social"
          data-tab-group="signin"
        >Twitter / Facebook</a>
      </li>
      <li>
        <a
          data-setup="tabMenu"
          data-tab-id="email"
          data-tab-group="signin"
        >E-mail</a>
      </li>
    </ul>
    <div
      style="text-align: center;"
      data-setup="tabContent"
      data-tab-id="social"
      data-tab-group="signin"
    >
      <form method="post" action="/signin/twitter/signin">
        <div><button class="btn large primary">Connect with Twitter</button></div>
      </form>
      <form method="post" action="/signin/facebook/signin">
        <div><button class="btn large primary">Connect with Facebook</button></div>
      </form>
    </div>
    <div
      style="display: none;"
      data-setup="tabContent"
      data-tab-id="email"
      data-tab-group="signin"
    >
      <form
        data-setup="signup"
      >
        <div class="clearfix">
          <label for="xlInput">E-mail</label>
          <div class="input">
            <input class="xlarge" id="xlInput" name="email" size="30" type="text">
          </div>
        </div>
        <div class="clearfix">
          <label for="xlInput">Password</label>
          <div class="input">
            <input class="xlarge" id="xlInput" name="password" size="30" type="password">
          </div>
        </div>
        <div class="actions">
          <button
            class="btn primary"
            data-setup="click"
            data-click="signin"
          >Sign In</button> or 
          <button
            class="btn primary"
            data-setup="click"
            data-click="signup"
          >Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<form
  class="modal"
  data-setup="submit,verify"
  data-submit="verify"
>
  <div class="modal-header">
    <h3>E-mail Verify</h3>
  </div>
  <div class="modal-body">
    <p>Please enter the code sent to your email.</p>
    <div class="clearfix">
      <label for="xlInput">CODE</label>
      <div class="input">
        <input type="text" name="code" value="">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn primary">Verify</button>
  </div>
</form>

</body>
</html>