<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>7kai Tasks</title>
<meta property="fb:app_id" content="272550092773416">
<meta property="og:title" content="7kai Tasks">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tasks.7kai.org/">
<meta property="og:image" content="https://tasks.7kai.org/static/img/logo-128.png">
<meta property="og:site_name" content="7kai Tasks">
<meta property="og:description" content="The web-based task management software.">
<link rel="stylesheet" href="/static/css/bootstrap-2.2.2.min.css">
<style type="text/css">
</style>
<link rel="stylesheet" href="/static/css/bootstrap-responsive-2.2.2.min.css">
<style>
html, body {
  height: 100%;
}
body {
  background-image: url(/static/ico/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
article {
  position: absolute;
  width: 580px;
  height: 460px;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -290px;
  text-align: center;
  z-index: 1001;
}
img {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 210px;
  height: 210px;
}
h1 {
  padding-bottom: 20px;
  font-size: 48px;
  line-height: 48px;
  color: white;
}
button {
  width: 240px;
}
</style>
</head>
<body>
  <article>
    <h1>7kai Tasks</h1>
    <form method="post" action="/signin/twitter/signin">
      <button class="btn btn-large btn-primary">Connect with Twitter</button>
    </form>
    <form method="post" action="/signin/facebook/signin">
      <button class="btn btn-large btn-primary">Connect with Facebook</button>
    </form>
    <form method="post" action="/signin/google/signin">
      <button class="btn btn-large btn-primary">Connect with Google</button>
    </form>
    <div class="alert alert-info">
      By signing up, you accept 7kai Tasks's <a href="/static/tos.html" target="_blank">terms</a> of use and <a href="/static/privacy.html" target="_blank">privacy policy</a>.
    </div>
  </article>
  <img src="/static/ico/bg-logo.png">
</body>
</html>